---
title: Jessy Lin &#8226; Fun
layout: default
---

<h1>Projects</h1>

<p>Some things I've made:</p>

<ul class="projects">
  {% for project in site.data.projects %}
  {% assign project = project_hash[1] %}
    <li class="project">
      <a class="project-title" href={{ project.link }}>
        {{ project.title }}
      </a>
      <p class="project-description">{{ project.description }}</p>
    </li>
  {% endfor %}
</ul>

<h1>Reads</h1>

<p>I've kept track of everything I've read since 2008 on <a href="https://www.goodreads.com/user/show/1576868-jessy">Goodreads</a>. Here are some of my all-time favorites:</p>

<ul>
  {% for project in site.data.books %}
  {% assign project = project_hash[1] %}
    <li class="project">
      <a class="project-title" href={{ project.link }}>
        {{ project.title }}
      </a>
      <p class="project-description">{{ project.description }}</p>
    </li>
  {% endfor %}
</ul>
