Hi! I'm a senior at MIT studying computer science + electrical engineering and philosophy.  

<h2>currently</h2>
<ul>
    <li>research intern @ Google Research NYC</li>
    <li>research @ <a href="http://cocosci.mit.edu">MIT Computational Cognitive Science Lab</a></li>
    <li>research @ <a href="https://www.labsix.org">LabSix</a></li>
    <li>campus ambassador @ <a href="https://sequoiacap.com">Sequoia</a></li>
</ul>

<h2>previously</h2>
<ul>
    <li>corporate relations director / devops @ <a href="https://hackmit.org">HackMIT</a></li>
    <li>product engineer intern @ <a href="https://fin.com">Fin</a></li>
</ul>
