<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if page.title %}{{ page.title }}{% else %}Jessy Lin{% endif %}</title>
<link rel="shortcut icon" href="/favicon.ico" />

<link rel="stylesheet" href="/assets/style.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">-->
<!-- <link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Rubik:500|Lora|Average|Neuton" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700&display=swap" rel="stylesheet">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@realJessyLin">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:image" content="{{ page.image | absolute_url }}">
<meta name="og:image" property="og:image" content="{{ page.image | absolute_url }}">

<!--<meta name="author" content="Jessy Lin" />-->
<!--<meta name="description" content="" />-->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122603722-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-122603722-1');
</script>
