<div class="subscribe">
  <p>Subscribe to get updates when I write new posts:</p>
  <form class="layoutRow"
      action="https://gmail.us3.list-manage.com/subscribe/post?u=be23d5873db42578ecc753d32&amp;id=0544272743"
      method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" placeholder="Email address" required>
    <!-- to distract bots -->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_be23d5873db42578ecc753d32_0544272743" tabindex="-1" value="">
    </div>
    <input type="submit" value="Subscribe" name="subscribe">
  </form>
</div>
