---
---

$text-color: #46433A;
$anchor-text-color: #CE534D;
$background-color: #f8f8f8;

body {
	font-family: "Neuton", serif;
    font-size: 1em;
	color: $text-color;
	background-color: $background-color;
}

h1, h2, h3 {
    font-family: "Rubik", sans-serif;
    font-size: 2em;
}

header {
    min-width: 250px;
    flex: 0 0 auto;
    padding: 15% 20px 50px 20px;
}

main {
    flex: 1 1 auto;
    margin: 0 10%;
}

.note {
    font-size: .5em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.social {
    margin: 5px auto;
    display: block;
    text-align: right;
}

ul.social li {
    display: inline-block;
    margin: 0 5%;
}

i {
    opacity: .75;
}

i:hover {
    opacity: 1;
}

h2 {
    margin: 30px 0px 5px 0px;
}

.sidebar-nav {
    margin: auto;
    margin-top: 30px;
    display: flex;
}

.sidebar-nav-item {
    margin: 5px;
    flex: 1 1 auto;
}

/*** wrapper div for both header and main ***/
.wrapper {
    display: flex;
    height: 100vh;
    padding: 0px 10px;
    margin: auto;
}

/*** anchor tags ***/
a:link,
a:visited,
a:hover,
a:active {
	color: $anchor-text-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a#name-link {
    color: $text-color;
}

/*** author ***/
.author-container h1 {
	font-size: 2.8em;
	margin-top: 0;
	margin-bottom: 0;
}

/* Photography page */ 
#gallery {
    column-gap: 10px;
    line-height: 2;
}

#gallery img {
    width: 100%;
    position: relative;
}

#gallery img:hover {
    opacity: .9;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

/* X-Small devices */
@media (max-width: 900px) {
    body {
        overflow: scroll;
    }
	.wrapper {
        margin: auto;
        flex-direction: column;
		width: 100%;
	}
   
    .sidebar-nav {
        flex-direction: row;
    }

    header {
        text-align: center;
    }

    main {
        margin: 0 10%;
    }

    ul.social {
        width: 50%;
        text-align: center;
    }

    #gallery {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

/* All other devices (768px and up) */
@media (min-width: 900px) {
	/* past 768px the layout is changed and the wrapper has a fixed width of 680px
	to accomodate both the header column and the content column */
	.wrapper {
        flex-direction: row;
		width: 85%;
        margin-left: 10%;
	}

    .sidebar-nav {
        flex-direction: column;
    }

	/* the header column stays left and has a dynamic width with all contents aligned right */
	header {
		float: left;
//		width: 25%;
		text-align: right;
	}

    main {
        overflow-y: scroll;
        margin: 0 5%;
        padding: 10% 0;
    }

    #gallery {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

//::-webkit-scrollbar {
//display: none;
//}
