<!DOCTYPE html>
<html>
    {% include head.html %}
    <div class="wrapper">
        <header>
            <div class="author-container"><h1 id="author-name">Jessy Lin</h1></div>

            <ul class="sidebar-nav">
                <li class="sidebar-nav-item"><a href="/projects">[work + play]</a></li>
                <li class="sidebar-nav-item"><a href="/blog">[blog]</a></li>
                <li class="sidebar-nav-item"><a href="/photo">[photography]</a></li>
            </ul>
        </header>

        <main>
            <div class="content-container">
            {{ content }}
            </div>
        </main>

    </div>
</html>
