<!DOCTYPE html>
<html>
    {% include head.html %}
    <div class="wrapper">
        <header>
            <div class="author-container"><h1><a id="name-link" href="/">Jessy Lin</a></h1></div>

            {% if page.show_pic %}
            <img src="/images/pic.jpg" width="175" />
            {% endif %}
            
            <ul class="social">
                <li><a href="mailto:jessy_lin@berkeley.edu" target="_blank"><i class="far fa-envelope"></i></a></li>
                <li><a href="//github.com/jlin816"><i class="fab fa-github"></i></a></li>
                <li><a href="//twitter.com/realJessyLin"><i class="fab fa-twitter"></i></a></li>
                <li><a href="//linkedin.com/in/jessylin"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>

            <ul class="sidebar-nav minimal">
                <li class="sidebar-nav-item"><a href="/projects">[work + play]</a></li>
                <li class="sidebar-nav-item"><a href="/blog">[blog]</a></li>
                <li class="sidebar-nav-item"><a href="/photo">[photography]</a></li>
                <li class="sidebar-nav-item"><a href="/reads">[reads]</a></li>
            </ul>
        </header>

        <main>
            {{ content }}
        </main>

    </div>
</html>
